@font-face {
  font-family: "MickKelly Italic";
  src: url("./assets/fonts/MickKelly-Italic.eot");
  src: local("MickKelly Italic"), local("MickKelly Italic"),
    url("./assets/fonts/MickKelly-Italic.eot") format("embedded-opentype"),
    url("./assets/fonts/MickKelly-Italic.woff2") format("woff2"),
    url("./assets/fonts/MickKelly-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "MickKelly Lite";
  src: url("./assets/fonts/MickKelly-Lite.eot");
  src: local("MickKelly Lite"), local("MickKelly Lite"),
    url("./assets/fonts/MickKelly-Lite.eot") format("embedded-opentype"),
    url("./assets/fonts/MickKelly-Lite.woff2") format("woff2"),
    url("./assets/fonts/MickKelly-Lite.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "MickKelly LiteItalic";
  src: url("./assets/fonts/MickKelly-LiteItalic.eot");
  src: local("MickKelly LiteItalic"), local("MickKelly LiteItalic"),
    url("./assets/fonts/MickKelly-LiteItalic.eot") format("embedded-opentype"),
    url("./assets/fonts/MickKelly-LiteItalic.woff2") format("woff2"),
    url("./assets/fonts/MickKelly-LiteItalic.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "MickKelly Regular";
  src: url("./assets/fonts/MickKelly-Regular.eot");
  src: local("MickKelly Regular"), local("MickKelly Regular"),
    url("./assets/fonts/MickKelly-Regular.eot") format("embedded-opentype"),
    url("./assets/fonts/MickKelly-Regular.woff2") format("woff2"),
    url("./assets/fonts/MickKelly-Regular.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}